.home__banner {
  width: 100%;
  height: 204px;

  position: relative;

  .banner__img__container {
    width: 100%;
    height: 204px;

    picture {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      source, img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
      }
    }

  }

  .banner__title__container {
    width: 192px;
    height: 140px;

    display: grid;
    grid-template-columns: 100%;
    place-content: center;
    place-items: center;
    row-gap: 28px;

    position: absolute;
    top: 16%;
    left: 8%;

    background: rgba(255, 255, 255, 0.90);

    h3 {
      color: #323334;
      font-size: 2.0rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    span {
      display: none;
    }

    p {
      display: none;
    }

    button {
      width: 124px;
      height: 48px;
      flex-shrink: 0;

      color: #323334;
      font-size: 1.4;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      border: 1px solid #323334;
    }
  }
}


@media (min-width: 720px) {
  .home__banner {
    width: 100%;
    height: 500px;

    position: relative;

    .banner__img__container {
      width: 100%;
      height: 100%;

      picture {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;

        source, img {
          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;
        }
      }

    }

    .banner__title__container {
      width: 500px;
      height: 300px;

      padding: 50px 100px;

      display: grid;
      grid-template-columns: 100%;
      place-content: start;
      place-items: start;
      gap: 8px 0;

      position: absolute;
      top: 20%;
      left: 8%;

      background: rgba(255, 255, 255, 0.90);

      h3 {
        color: #323334;
        font-size: 2.0rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      span {
        width: 100%;
        height: fit-content;

        margin: 8px 0 0 0;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        justify-items: flex-start;
        align-items: center;

        gap: 0 18px;

        h4 {
          color: #7B5136;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          &:first-child {
            font-size: 2.2rem;
          }
          &:last-child {
            font-size: 1.4rem;
            text-decoration: line-through;
            margin: 4px 0 0 0;
          }
        }
      }

      p {
        display: grid;

        color: #323334;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
      }

      button {
        width: 124px;
        height: 48px;
        flex-shrink: 0;

        color: #323334;
        font-size: 1.4;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        border: 1px solid #323334;
      }
    }
  }
}
