.header__logo__container {
  width: auto;
  height: 20;

  display: flex;
  justify-items: center;
  align-items: center;
}

.header__logo {
  width: auto;
  height: auto;

  a {
    color: #323334;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
