.footer__entries {
  display: none;
}

@media (min-width: 720px) {
  .footer__entries {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

    h4 {
      width: 100%;
      height: fit-content;

      margin: 0 0 12px 0;

      color: #FFF;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .entries--border {
      width: 100%;
      height: fit-content;

      margin: 24px 0 18px 0;

      border: 1px solid rgba(255, 255, 255, 0.50);
    }

    div {
      width: 100%;
      height: fit-content;

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;

      h3 {
        width: 100%;
        height: fit-content;

        color: rgba(255, 255, 255, 0.50);
        font-size: 2.0rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        span {
          width: fit-content;
          height: fit-content;

          margin: 0 0 0 4px;

          color: rgba(255, 255, 255, 0.50);
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      p {
        width: 100%;
        height: fit-content;

        color: #FFF;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.8rem;
      }

      span {
        width: 100%;
        height: fit-content;

        margin: 4px 0 0 0;

        color: #FFF;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.5;
      }
    }
  }
}
