.footer {
  width: 100%;
  height: auto;

  background-color: #323334;
}

.footer__container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;

  .footer__right {
    width: 100%;
    height: auto;

    padding: 40px 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 50px 0;
  }

  .footer__middle {
    display: none;
  }

  .footer__left {
    display: none;
  }
}

@media (min-width: 720px) {
  .footer {
    width: 100%;
    height: auto;

    background-color: #323334;
  }

  .footer__container {
    width: 100%;
    height: auto;

    padding: 40px 4% 60px 4%;

    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto;
    gap: 0 5%;

    .footer__right {
      width: 100%;
      height: auto;

      padding: 0;

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 30px 0;
    }

    .footer__middle {
      display: grid;
    }

    .footer__left {
      display: grid;
    }
  }
}
