.layout {
  width: 100%;
  height: auto;

  display: grid;
  grid-template: auto / 100%;
  place-content: center;
  place-items: center;
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
