.header {
  width: 100vw;
  height: fit-content;
  padding: 4vh 8vw 2vh 8vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
